@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;

  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #E5E5E5;
}
/* Pages */
.page-header {
  color: #000000;
  background: #FFFFFF;
}
.left-navigation-link a {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;

}

.right-navigation-link a{
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-decoration: none

}

.advantages-title {


}
.navigation-battom {
  width: 160px;
  height: 37px;
  background-color:  #756257;
border-radius: 4px;
color: #FFFFFF;
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

}
.main-header-logo {


}


}
